# Assignment 1 #

** Import libraries **

In [45]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from numpy import genfromtxt
import csv

** Import CSV data into a Pandas dataframe **

In [46]:
df = pd.read_csv("/Users/joanhealy1/Documents/GMIT-semester-2/data-analysis-assignment-1/anscombes-quartet.csv")

In [28]:
df.head()

  id dataset     x     y
0  0       I  10.0  8.04
1  1       I   8.0  6.95
2  2       I  13.0  7.58
3  3       I   9.0  8.81
4  4       I  11.0  8.33

In [19]:
df.tail()

    id dataset     x      y
40  40      IV  19.0  12.50
41  41      IV   8.0   5.56
42  42      IV   8.0   7.91
43  43      IV   8.0   6.89
44   }     NaN   NaN    NaN

In [20]:
df.describe()

               x          y
count  44.000000  44.000000
mean    9.000000   7.500682
std     3.198837   1.958925
min     4.000000   3.100000
25%     7.000000   6.117500
50%     8.000000   7.520000
75%    11.000000   8.747500
max    19.000000  12.740000

In [28]:
sns.pairplot(df, hue="dataset")

In [21]:
df.mean()

x    9.000000
y    7.500682
dtype: float64

In [34]:
print(df['x'])

0     10.0
1      8.0
2     13.0
3      9.0
4     11.0
5     14.0
6      6.0
7      4.0
8     12.0
9      7.0
10     5.0
11    10.0
12     8.0
13    13.0
14     9.0
15    11.0
16    14.0
17     6.0
18     4.0
19    12.0
20     7.0
21     5.0
22    10.0
23     8.0
24    13.0
25     9.0
26    11.0
27    14.0
28     6.0
29     4.0
30    12.0
31     7.0
32     5.0
33     8.0
34     8.0
35     8.0
36     8.0
37     8.0
38     8.0
39     8.0
40    19.0
41     8.0
42     8.0
43     8.0
44     NaN
Name: x, dtype: float64

In [50]:
newDf = []
for each in df['dataset']:
    print(each)

I
I
I
I
I
I
I
I
I
I
I
II
II
II
II
II
II
II
II
II
II
II
III
III
III
III
III
III
III
III
III
III
III
IV
IV
IV
IV
IV
IV
IV
IV
IV
IV
IV
nan

In [57]:
for index, row in df.iterrows():
    print(row['x'], row['y'], row['dataset'])
    print(index)

10.0 8.04 I
0
8.0 6.95 I
1
13.0 7.58 I
2
9.0 8.81 I
3
11.0 8.33 I
4
14.0 9.96 I
5
6.0 7.24 I
6
4.0 4.26 I
7
12.0 10.84 I
8
7.0 4.82 I
9
5.0 5.68 I
10
10.0 9.14 II
11
8.0 8.14 II
12
13.0 8.74 II
13
9.0 8.77 II
14
11.0 9.26 II
15
14.0 8.1 II
16
6.0 6.13 II
17
4.0 3.1 II
18
12.0 9.13 II
19
7.0 7.26 II
20
5.0 4.74 II
21
10.0 7.46 III
22
8.0 6.77 III
23
13.0 12.74 III
24
9.0 7.11 III
25
11.0 7.81 III
26
14.0 8.84 III
27
6.0 6.08 III
28
4.0 5.39 III
29
12.0 8.15 III
30
7.0 6.42 III
31
5.0 5.73 III
32
8.0 6.58 IV
33
8.0 5.76 IV
34
8.0 7.71 IV
35
8.0 8.84 IV
36
8.0 8.47 IV
37
8.0 7.04 IV
38
8.0 5.25 IV
39
19.0 12.5 IV
40
8.0 5.56 IV
41
8.0 7.91 IV
42
8.0 6.89 IV
43
nan nan nan
44

In [31]:
my_data = genfromtxt('/Users/joanhealy1/Documents/GMIT-semester-2/data-analysis-assignment-1/anscombes-quartet.csv', delimiter=',')

In [5]:
print(my_data)

[[   nan    nan    nan    nan]
 [  0.      nan  10.     8.04]
 [  1.      nan   8.     6.95]
 [  2.      nan  13.     7.58]
 [  3.      nan   9.     8.81]
 [  4.      nan  11.     8.33]
 [  5.      nan  14.     9.96]
 [  6.      nan   6.     7.24]
 [  7.      nan   4.     4.26]
 [  8.      nan  12.    10.84]
 [  9.      nan   7.     4.82]
 [ 10.      nan   5.     5.68]
 [ 11.      nan  10.     9.14]
 [ 12.      nan   8.     8.14]
 [ 13.      nan  13.     8.74]
 [ 14.      nan   9.     8.77]
 [ 15.      nan  11.     9.26]
 [ 16.      nan  14.     8.1 ]
 [ 17.      nan   6.     6.13]
 [ 18.      nan   4.     3.1 ]
 [ 19.      nan  12.     9.13]
 [ 20.      nan   7.     7.26]
 [ 21.      nan   5.     4.74]
 [ 22.      nan  10.     7.46]
 [ 23.      nan   8.     6.77]
 [ 24.      nan  13.    12.74]
 [ 25.      nan   9.     7.11]
 [ 26.      nan  11.     7.81]
 [ 27.      nan  14.     8.84]
 [ 28.      nan   6.     6.08]
 [ 29.      nan   4.     5.39]
 [ 30.      nan  12.     8.15]
 [ 31.      nan   7.     6.42]
 [ 32.      nan   5.     5.73]
 [ 33.      nan   8.     6.58]
 [ 34.      nan   8.     5.76]
 [ 35.      nan   8.     7.71]
 [ 36.      nan   8.     8.84]
 [ 37.      nan   8.     8.47]
 [ 38.      nan   8.     7.04]
 [ 39.      nan   8.     5.25]
 [ 40.      nan  19.    12.5 ]
 [ 41.      nan   8.     5.56]
 [ 42.      nan   8.     7.91]
 [ 43.      nan   8.     6.89]
 [   nan    nan    nan    nan]]

1. Explain the background to the dataset – who created it, when it was created, and any speculation you can find regarding how it might have been created.
2. Plot the interesting aspects of the dataset.
3. Calculate the descriptive statistics of the variables in the dataset.
4. Explain why the dataset is interesting, referring to the plots and statistics above.

In [6]:
for each in my_data:
    print(each)

[ nan  nan  nan  nan]
[  0.      nan  10.     8.04]
[ 1.     nan  8.    6.95]
[  2.      nan  13.     7.58]
[ 3.     nan  9.    8.81]
[  4.      nan  11.     8.33]
[  5.      nan  14.     9.96]
[ 6.     nan  6.    7.24]
[ 7.     nan  4.    4.26]
[  8.      nan  12.    10.84]
[ 9.     nan  7.    4.82]
[ 10.      nan   5.     5.68]
[ 11.      nan  10.     9.14]
[ 12.      nan   8.     8.14]
[ 13.      nan  13.     8.74]
[ 14.      nan   9.     8.77]
[ 15.      nan  11.     9.26]
[ 16.    nan  14.    8.1]
[ 17.      nan   6.     6.13]
[ 18.    nan   4.    3.1]
[ 19.      nan  12.     9.13]
[ 20.      nan   7.     7.26]
[ 21.      nan   5.     4.74]
[ 22.      nan  10.     7.46]
[ 23.      nan   8.     6.77]
[ 24.      nan  13.    12.74]
[ 25.      nan   9.     7.11]
[ 26.      nan  11.     7.81]
[ 27.      nan  14.     8.84]
[ 28.      nan   6.     6.08]
[ 29.      nan   4.     5.39]
[ 30.      nan  12.     8.15]
[ 31.      nan   7.     6.42]
[ 32.      nan   5.     5.73]
[ 33.      nan   8.     6.58]
[ 34.      nan   8.     5.76]
[ 35.      nan   8.     7.71]
[ 36.      nan   8.     8.84]
[ 37.      nan   8.     8.47]
[ 38.      nan   8.     7.04]
[ 39.      nan   8.     5.25]
[ 40.    nan  19.   12.5]
[ 41.      nan   8.     5.56]
[ 42.      nan   8.     7.91]
[ 43.      nan   8.     6.89]
[ nan  nan  nan  nan]

In [21]:
with open('/Users/joanhealy1/Documents/GMIT-semester-2/data-analysis-assignment-1/anscombes-quartet.csv', 'rt') as csvfile:
    csvdata = csv.reader(csvfile, delimiter=',')
    print(csvdata)    
    for each in csvdata:
        print(each)

<_csv.reader object at 0x1a08c54ba8>
['id', 'dataset', 'x', 'y']
['0', 'I', '10', '8.04']
['1', 'I', '8', '6.95']
['2', 'I', '13', '7.58']
['3', 'I', '9', '8.81']
['4', 'I', '11', '8.33']
['5', 'I', '14', '9.96']
['6', 'I', '6', '7.24']
['7', 'I', '4', '4.26']
['8', 'I', '12', '10.84']
['9', 'I', '7', '4.82']
['10', 'I', '5', '5.68']
['11', 'II', '10', '9.14']
['12', 'II', '8', '8.14']
['13', 'II', '13', '8.74']
['14', 'II', '9', '8.77']
['15', 'II', '11', '9.26']
['16', 'II', '14', '8.1']
['17', 'II', '6', '6.13']
['18', 'II', '4', '3.1']
['19', 'II', '12', '9.13']
['20', 'II', '7', '7.26']
['21', 'II', '5', '4.74']
['22', 'III', '10', '7.46']
['23', 'III', '8', '6.77']
['24', 'III', '13', '12.74']
['25', 'III', '9', '7.11']
['26', 'III', '11', '7.81']
['27', 'III', '14', '8.84']
['28', 'III', '6', '6.08']
['29', 'III', '4', '5.39']
['30', 'III', '12', '8.15']
['31', 'III', '7', '6.42']
['32', 'III', '5', '5.73']
['33', 'IV', '8', '6.58']
['34', 'IV', '8', '5.76']
['35', 'IV', '8', '7.71']
['36', 'IV', '8', '8.84']
['37', 'IV', '8', '8.47']
['38', 'IV', '8', '7.04']
['39', 'IV', '8', '5.25']
['40', 'IV', '19', '12.5']
['41', 'IV', '8', '5.56']
['42', 'IV', '8', '7.91']
['43', 'IV', '8', '6.89']
['}', '', '', '']